
    .card {
    display: flex;
    width: 250px;
    height: 200px;
    align-items: flex-start;
    margin-top: 16px;
    background: rgba(255, 255, 255, 0.39);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    }

    .card:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
     }
    
    .imageContainer {
      margin-left: 10px;
      margin-top: 10px;
    }
    
    .image {    
    width: 70px;
    height: 57px;
    left: 45px;
    top: 278px;
    border-radius: 6px;
    object-fit: cover;
    }
    
    .countryCard {
    width: 71px;
    height: 47px;
    left: 118px;
    top: 284px;
    }
    
    .country {
    margin-left: 10px;
    display: flex;
    width: 160px;
    height: 25px;
    left: 118px;
    top: 284px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #16254c;
    }
    
    .continent {
    width: 150px;
    height: 22px;
    margin-top: 70px;
    margin-left: 0px;
    display:flex;
    align-items:flex-start;
    font-weight: 400;
    font-size: 16px;
    line-height: 9px;
    color: #16254c;
    }

    
  .population {
    display: flex; 
    align-items: flex-start;  
    width: 200px;
    height: 12px;
    margin-top: 130px; 
    margin-left: -70px; 
    }

    .titlePop{
      display:flex; 
      
    }
    
    .pop {
    font-weight: 500;
    font-size: 16px;
    line-height: 12px;
    color: #16254c;    
    }
    
    .numbers {
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    color: #FF0000;
    }

 

  
  